#shoplist{
   
    .clearfix:after{
        content:"";
        display:block;
        clear:both;
        overflow:hidden;
        height:0;
        visibility:hidden;
        zoom:1;
    } 
    .list_img{
        img{
            width: 15rem;
            height: 15rem;
        }

    }
    .am-list-body{
            
            
        .am-list-item .am-list-line .am-list-content{
            overflow: visible;
            a{
                background: #2db7f5;
                color: #fff;
            }
        }
      .am-list-item .am-list-line .am-list-content {
        span.price{
         color: #f00;
        }
      }
    }
    .am-list-item .am-list-line .am-list-extra {
        -webkit-flex-basis: 36%;
        -ms-flex-preferred-size: 36%;
        flex-basis: 80%;
    }
    .add{
        position:fixed;
        bottom:0;
        width:100%;
        z-index:1000000;
        background: #fff;

        ul{
            float:left;
            width:50%;
            li{
                float:left;
                width:31%;

            }
        }
        .addbtn{
            float:left;
            width:50%;
            background:red;
            color: #fff;
            height:2.5rem;
            line-height: 2.5rem;
            font-size: 1rem;
        }
    }
    .am-list-body {
        border-bottom: 1PX solid #ddd;
    }
}    
